@font-face {
    font-family: 'gooddogregular';
    src: url('./fonts/gooddog-webfont.woff2') format('woff2'),
         url('./fonts/gooddog-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #f0f9ff;
}
/*334155 orig navy blue color*/
header {
    display: flex;
    background: #991b1b;
    font-family: 'gooddogregular';
    align-items: center;
    font-size: 1.5em;
    color: #334155;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-top: 8px;
    width: 100%;
    gap: 16px;
    position: fixed;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.49);
}
.sidebar-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #d1d5db;
    height: 100%;
    width: 280px;
    /*z-index: 1;*/
    left: 0;
    padding-top: 20px;
    font-family: 'gooddogregular';
    font-size: 2em;
    top: 130px;
    box-shadow: 3px 0px 5px 2px rgba(0,0,0,0.49);
}
.nav-all,
.nav-today,
.nav-weekly,
.nav-monthly,
.projects,
#add-project {
    display: flex;
    width: 200px;
    gap: 12px;
    color: #334155;
    padding-left: 16px;
}
.test {
    display: flex;
}
.projects {
    margin-top: 64px;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
a {
    color: #334155;
}
.add-task {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    margin-top: 4em;
}
.main {
    height: 100%;
    padding-top: 20px;
    margin-left: 300px;
    font-family: 'gooddogregular';
    font-size: 32px;
    color: #334155;
    margin-right: 30px;
}
.test label {
    display: inline-block;
    width: fit-content;
    text-align: center;
}
textarea {
    padding-left: 4px;
    padding-top: 4px;
    font-family: 'gooddogregular';
    font-size: 24px;
    resize: vertical;
    max-height: 250px;
}
input[type=text],
input[type=date],
option, select {
    font-family: 'gooddogregular';
    font-size: 24px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #d1d5db;
    width: 500px;
    max-width: 80%;
    max-height: 80%;
    transition: 200ms ease-in-out
}
.modal.active {
    transform: translate(-50%,-50%) scale(1);

}
.form-input,
.form-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.close-button {
    background-color: #d1d5db;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    border: none;
}
.close-button:hover {
    border-radius: 10px;
    background-color: rgba(153,27,27,.8)
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
.projectTaskCheck,
.projectTaskEdit,
.taskcheck,
.taskedit {
    background-color: #d1d5db;
    border: none;
}
.projectImgDeleteButton,
.projectImgCheckButton,
.projectImgEditButton,
.imgdeletebutton,
.imgcheckbutton,
.imgeditbutton {
    background-color: #d1d5db;
    border: none;
}
.imgbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #f0f9ff;
    cursor: pointer;
    font-family: 'gooddogregular';
    font-size: 1.25em;
    gap: 8px;
}
#submitbutton {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
}
#projecttaskbutton,
#taskbutton {
    border-radius: 10px;
    border: none;
    background-color: #334155;
    color: white;
    font-family: 'gooddogregular';
    font-size: 32px;
    padding: 10px 15px;
    cursor: pointer;
}
#projecttaskbutton:active,
#taskbutton:active {
    transform: scale(0.95);
}
.task {
    display: grid;
    grid-template-columns: repeat(4, 0.3fr);
    grid-auto-rows: 1fr;
    row-gap: 32px;
    column-gap: 32px;
}
.projectTaskCard,
.taskCard {
    display: grid;
    grid-template-rows: 0.1fr repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #d1d5db;
    border-radius: 10px;
    height: fit-content;
}
.projectTaskTitle,
.projectTaskDesc,
.taskdesc,
.tasktitle {
    inline-size: 350px;
    overflow-wrap: break-word;
    text-align: center;
}
.projectTaskDate,
.projectTaskPrio,
.taskdate,
.taskprio {
    text-align: center;
}
.projectTaskEditDiv,
.taskedit-div {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}
.projectTaskDelete,
.projectTaskCheck,
.projectTaskEdit,
.taskdelete,
.taskcheck,
.taskedit {
    background-color: #d1d5db;
    cursor: pointer;
}
.projects-list {
    display: flex;
    padding-left: 16px;
}
span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.project-title {
    display: flex;
    width: 260px;
    justify-content: space-between;
}
#myBtn {
    background-color: #d1d5db;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#myBtn:active {
    transform: scale(0.7);
}
#project-wrapper {
    display: grid;
}
.project-delete {
    background-color: #d1d5db;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}